:root {
  --primary: azure;
  --secondary:white;
  --blueWhite: #a1cae7;
  --deepBlue: #102636;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  min-height: 100vh;
  }

  .mainNavbar {
    color: var(--deepBlue);
  }

  .mainNavbarDropdown {
    color: var(--deepBlue);
    margin-bottom: 0;
  }

  .mainNavbarDropdown :hover {
    color: var(--primary);
  }
  .userIcon  {
    color: var(--deepBlue);
  }


  .userIcon :hover {
    color: var(--primary);
  }

  .mainFooter {
    background-color: var(--secondary);
    color: var(--deepBlue);
  }

  .footerIco {
    color: var(--deepBlue);
    margin-left: 2%;
  }

  .btn-outline-my-btn-color {
    color: var(--deepBlue);
    background-color:var(--primary);
    border-color: var(--secondary);
  }

  .btn-outline-my-btn-color:hover {
    color: var(--primary);
    background-color:var(--secondary);
    border-color: var(--primary);
  }

  .btn-login{
    width: 100%;
    margin-bottom: 10px;
  }

  .featured-img {
    -webkit-filter: brightness(60%);
  }
  .featured-img:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .featured-img-col{
    position: relative;
  }

  .text-overlay {
    position: absolute;
    top: 80%;
    left: 6%;
    color: white;
    font-size: 18px;
    text-align: center;
    font-size: 25px;
    padding: 8px;
    font-weight: 700;
  }

  .text-overlay-short {
    position: absolute;
    top: 62%;
    left: 3%;
    color: white;
    font-size: 18px;
    text-align: center;
    font-size: 25px;
    padding: 8px;
    font-weight: 700;
  }